%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %h2 GAME-SITE
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item.px-5.active
        %a.nav-link{:href => "/"}
          %h4 Home
      %li.nav-item.mt-1
        %a.nav-link{:href => "/posts/new"}
          %h5 投稿する
    = form_with(url: search_posts_path, local: true, method: :get, class: "form-inline my-2 my-lg-0") do |form|
      = form.text_field :keyword, placeholder: "投稿を検索する", class: "form-control mr-sm-2"
      = form.submit "検索する", class: "btn btn-outline-success my-2 my-sm-0"
%ul.nav.nav-tabs
  %li.nav-item
    .nav-link.active
      = link_to "Action", "1"
  %li.nav-item
    .nav-link.active
      = link_to "Shooting", "2"
  %li.nav-item
    .nav-link.active
      = link_to "RPG", "3"
  %li.nav-item
    .nav-link.active
      = link_to "Simulation", "4"
  %li.nav-item
    .nav-link.active
      = link_to "Adventure", "5"
  %li.nav-item
    .nav-link.active
      = link_to "Puzzle", "6"
.container
  .d-flex.mt-5.flex-row-reverse.bd-highlight
    %h1.m-auto
      = @genre.name
.container
  .comments.mt-4
    - @posts.each do |post|
      .comment.mb-3.text-white.bg-dark.overflow-sc
        .postTitle.p-2.bg-info.text-white
          = post.title
        .postText.p-2
          = simple_format post.text
